<div class="container">
  <div class="row">
    <div>
      <h3>Edit Contact</h3>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="contact.name" name="name">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="contact.email" name="email">
        </div>

        <div class="form-group">
          <label for="number">Number</label>
          <input (keypress)="contactService.numberOnly($event)" type="text" class="form-control" id="number" required [(ngModel)]="contact.number" name="number">
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-danger" (click)="deleteContact()">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
