<div class="container">
  <div class="row">
    <div>
      <button type="button" class="btn btn" id="btn" (click)="back()"> < Contacts </button>
      <button type="button" class="btn btn"(click)="back()"> Modifier > </button>
    <div class="col">
      <img class="iconContact" src="assets/images/contact.jpg"/>
      <div class="card align-items-center">
        <h4 class="card-title">
          {{ contact.name }}
        </h4>
        <p class="list-group-item-text"><img src="assets/images/mail.png"/> {{ contact.email }}</p>
        <p class="list-group-item-text"><img src="assets/images/phone.png"/> {{ contact.number }}</p>
      </div>
    </div>
  </div>
</div>
</div>
